
.ntd-undone-work
{
    color: #9e1922;
}

.ntd-green 
{
    color: darkgreen;
}

.ntd-hidden-box 
{
    display: none;
}

.ntd-expandable
{
    cursor: pointer;
}

.ntd-expandable::before 
{
    content: "› ";
}

.ntd-level-1 
{
    color: #000000;
}

.ntd-level-2-other-activities 
{
    margin-left: 10px;
    color: #223074;
}

.ntd-level-2-my-activities 
{
    margin-left: 10px;
    color: #223074;
}

.ntd-level-3 a 
{
    margin-left: 20px;
    color: #000000;
}

.ntd-cursor-default 
{
    cursor: default;
}

.ntd-cursor-pointer 
{
    cursor: pointer;
}

.ntd-tooltip-box
{
    position:absolute;
    left:-2000px;
    background:transparent;
    padding:5px;
}

.ntd-tooltip-box p
{
    margin:0;
    padding:0;
    color:#fff;
    background:#222;
    padding:2px 7px;
    font-size: 24px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.ntd-block-header 
{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.3em;
    color: 	#19286f;
    cursor: default;
}

.ntd-block-subheader
{
    margin-bottom: 4px;
    color: #372d89;
    font-size: 1.1em;
    cursor: default;
}

.ntd-more-less-btn 
{
    cursor: pointer;
    color: #372d89;
    margin-bottom: 5px;
}

