
.ntd-undone-work
{
    color: #9e1922;
}

.ntd-hidden-box 
{
    display: none;
}

.ntd-expandable
{
    cursor: pointer;
}

.ntd-expandable::before 
{
    content: "› ";
}

.ntd-level-2 
{
    margin-left: 10px;
    background: #f7e7d2;
}

.ntd-cursor-default 
{
    cursor: default;
}

.ntd-cursor-pointer 
{
    cursor: pointer;
}

.ntd-tooltip-box
{
    position:absolute;
    left:-2000px;
    background:transparent;
    padding:5px;
}

.ntd-tooltip-box p
{
    margin:0;
    padding:0;
    color:#fff;
    background:#222;
    padding:2px 7px;
    font-size: 24px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.ntd-my-work-header 
{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: large;
    color: darkred;
    cursor: default;
}

.ntd-messanger-header
{
    margin-bottom: 4px;
    color: #3d3d3d;
    font-weight: bold;
    cursor: default;
}

